@model BookNotesSite.Models.Book

<div class="text-left item-details">
    <h1>@Model.Title</h1>
    <h2></h2>

    <dl class="row">
        <dd class="col-sm-10">
            Author: @Model.Author
        </dd>
        <dd class="col-sm-10">
            Publish Date: @Model.PublishDate
        </dd>
        <dd class="col-sm-10">
            Rating: @Model.Rating/10
        </dd>
        <dd class="col-sm-10">
            <span>
                Amazon Link:
                <a href="@Model.AffiliateLink">Affiliate Link</a>,
                <a href="@Model.NonAffiliateLink">Non-Affiliate Link</a>
            </span>
        </dd>
    </dl>

    <div>
        <ul class="no-style-list">
            @if (Model.Sections != null)
            {
                foreach (var section in Model.Sections)
                {
                    <li>
                        @Html.DisplayFor(_ => section)
                    </li>
                }
            }
        </ul>
    </div>
</div>

@*<style>
    .no-style-list {
        list-style: none;
        padding-left: 0;
    }

    .item-details {
        background-color: aqua;
        padding: 2em 14em 4em 14em;
    }
</style>*@