@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="nav-bar">

</div>

<div class="text-center flex-parent">
    @foreach(var book in Model)
    {
        <div class="flex-child">

            <p>@book.Author</p>
            <p>@book.Rating/10</p>
            <p>@book.Isbn</p>

            <button id="@book.Id">Read Notes</button>
        
            <h2>@book.Title</h2>
        </div>

    }
</div>

<div id="details-box">

</div>

<style>
    .flex-parent {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }

    .flex-child img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<script>
    (async () => {
        const body = document.querySelector('.flex-parent');

        body.addEventListener("click", (e) => {
            getItem(e.target);
        });

        function getItem(element) {
            var buttonId = $(element).attr("id");
            console.log(buttonId);

            $.ajax({
                async: true,
                type: "GET",
                url: "/Home/GetBook/" + buttonId,
                success: function (partialView) {
                    $('#details-box').html(partialView);
                }
            });
        }
    })();
</script>