@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books";
}


<div id="header-bar" class="header navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom">
    <h5><a class="open-menu">Read Book Notes</a></h5>
</div>

<div class="nav-bar">
    @foreach(var book in Model)
    {
        <div class="nav-item">
            <img src="@book.ImageSrc"/>
            <h4>@book.Title</h4>
        </div>
        <br/>
    }
</div>

<div id="bookshelf" class="flex-parent">
    @foreach(var book in Model)
    {
        <div class="flex-child">
            <img src="@book.ImageSrc" />

            <button class="get-book" id="@book.Id">Read Notes</button>

            <p>@book.Author</p>
            <p>@book.Rating/10</p>
            <p>@book.Isbn</p>
        
            <h3>@book.Title</h3>
        </div>
    }
</div>

<div id="details-box"></div>
